*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: 'Baloo Bhai 2', cursive;
    background: url("../img/8.jpg");
    min-height: 100vh;
    background-size: 100vw 105vh;
    background-repeat: no-repeat;
    color: white;
}
.left
{
    position: absolute;
    left: 35px;
    top: 20px;
    display: inline-block;
    border: 2px;
}

.left div
{
    line-height: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.left img
{
    width:85px;
    height:75px;
    filter: invert(100%);
    padding-left:40px;
}

.mid
{
    display: block;
    width:45%;
    margin: 20px auto;
    border: 2px;
}

.right
{
    position: absolute;
    right: 32px;
    top: 20px;
    display: inline-block;
    border: 2px;
}

.navbar
{
    display: inline-block;

}

.navbar li
{
    display: inline-block;
    font-size: 25px;
}

.navbar li a
{
    color: rgb(255, 196, 0);
    text-decoration: none;
    padding: 34px 23px;
    
}

.navbar li a:hover
{
    text-decoration: underline;
    color: grey;
}

.navbar li a.active
{
    color: rgb(0, 26, 255);
}

.btn
{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    
}
.photos{
position: relative;
height: 770px;
width: 1000px;
background-color: aliceblue;
margin:auto;
}
.row1{
margin:auto;
display: flex;

}
.column{
position: relative;
padding: 5px;
height: 240px;
width: 240px;
flex:25%;
float:left;
opacity: 0.82;
}
.column:hover{
opacity: 1.0;
cursor:pointer;
}
.row2{

}
.row3{

}